<fieldset>
    <legend><h1>{{ doctor.fullname }}</h1></legend>
    <img src=  {{ doctor.get_absolute_image }} alt="Doctor profile picture">
    <legend><h1>{{ doctor.specialisation }}</h1></legend>

    <legend><h1>Assigned Patients</h1></legend>
    <ul>
        {% for patient in patients %}
            <li> 
                <a href ="{% url 'patient:detail' patient.id %}"> {{ patient.patient_name }} </a>
            </li>
        {% endfor %}
    </ul>
    <legend><h1>Prescribed reports for Patients</h1></legend>
    <ul>
        {% for url in reports %}
            <li> 
                <a href = {{url.0}}> {{url.1}}</a>
            </li>
        {% endfor %}
    </ul>
</fieldset>
