<style>
    body {
      background-color: linen;
    }
    
    h1 , h2 ,h3 , h5 , h6 , h7, h8 ,h9 , h10,h11,h12,h13 {
      color: maroon;
    } 
</style>
<body>
    <fieldset>
        <legend><h1>{{ patient.patient_name }}</h1></legend>
        <legend><h2>Date of Admission: {{ patient.admission_date }}</h2></legend>
        <legend><h3>Email: {{ patient.email }}</h3></legend>
        <legend><h4 style="color:blue;text-align:center;">Contact Number: {{ patient.patient_contact }}</h4></legend>
        <legend><h5>Date of Birth: {{ patient.birth_date }}</h5></legend>
        <legend><h6>Gender: {{ patient.gender }}</h6></legend>
        <legend><h7>Assigned Doctor: {{ patient.concerned_doctor }}</h7></legend>
        <legend><h8 style="color:Red;text-align:center;">Current Status: {{ patient.status }}</h8></legend>
        <legend><h9>Status explanation:</h9></legend>
        <legend><h10>A : Admitted </h10></legend>
        <legend><h11>I: In Progress </h11></legend>
        <legend><h12>U : Under Operation </h12></legend>
        <legend><h13>D : Discharged </h13></legend>
    </fieldset>
</body>

